.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 850px;
    width: 100%;
    justify-self: center;
}

.navBar ul {
    list-style: none;
    font-size: 30px;
    margin: 0;
    padding: 8px 16px;
    display: flex;
    gap: 20px;
    padding-inline-start: 0;
}

.navBar ul li {
    padding: 0;
    margin: 0;
    cursor: pointer;
}
