.navBar ul {
    list-style: none;
    font-size: 30px;
    margin: 0;
    padding: 8px 16px;
    display: flex;
    gap: 20px;
}

.navBar ul li {
    padding: 0;
    margin: 0;
    cursor: pointer;
}
