.media {
    justify-self: center;
    gap: 20px;
    display: grid;
    grid-auto-flow: column;
}

.copyright {
    opacity: 0.4;
    text-align: center;
}

.icon {
    color: #fff;
    opacity: 0.4;
    font-size: 24px;
}

.policies ul {
    list-style: none;
    justify-content: space-between;
    gap: 20px;
    display: grid;
    grid-auto-flow: column;
    margin: 0;
    padding: 0;
    opacity: 0.7;
    font-size: 16px;
}

.policies ul li {
    padding: 0;
    text-align: center;
}

.footer {
    margin-top: 20px;
    padding: 0 20px 20px;
    display: grid;
    place-content: center;
    grid-gap: 20px;
}

@media only screen and (max-width: 600px) {
    .policies ul li {
        font-size: 14px;
    }

    .copyright {
        font-size: 14px;
    }
}
