html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    min-height: 100vh;
}
html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    place-items: center;
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

figure {
    margin: 0;
}

#__next > figure {
    display: grid;
}
#__next > main {
    max-width: 850px;
    padding: 20px 16px;
    display: grid;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 22px;
    margin: 0;
    text-align: center;
}

h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}

p {
    margin: 4px 0;
    line-height: 21px;
}

a {
    color: hsl(207, 98%, 19%);
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background-image: linear-gradient(to right, #141e30, #243b55);
    }

    a {
        color: hsl(207, 100%, 50%);
    }
}

ul li {
    padding: 0 0 10px 0;
}

#__next > figure {
    position: relative;
    height: 380px;
}

#__next > footer {
    display: grid;
    place-content: center;
    padding: 0 0 20px 0;
    grid-gap: 20px;
}

@media only screen and (max-width: 600px) {
    h1 {
        text-align: center;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    #__next > figure {
        height: 300px;
    }
}

/* collapsible */

input[type="checkbox"] {
    display: none;
}

.lbl-toggle {
    display: block;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    border-radius: 7px;
}

.lbl-toggle::before {
    content: " ";
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: 0.7rem;
    transform: translateY(-2px);

    transition: transform 0.25s ease-out;
}

.collapsible-content .content-inner {
    background: rgba(250, 224, 66, 0.2);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 0.5rem 1rem;
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
}
.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tiptext {
    visibility: hidden;
    width: max-content;
    background-color: #3eaf0a;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.tooltip .tiptext::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}
.tooltip:hover .tiptext {
    visibility: visible;
}

.tooltip.left .tiptext {
    top: -5px;
    right: 110%;
}
.tooltip.left .tiptext::after {
    margin-top: -5px;
    top: 50%;
    left: 100%;
    border-color: transparent transparent transparent #3eaf0a;
}

/* cookies */

.cookies {
    display: grid;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: not-allowed;
}

.cookies-content {
    display: grid;
    gap: 20px;
    background-color: #fefefe;
    padding: 20px;
    width: 90vw;
    max-width: 400px;
    cursor: pointer;
    color: #000;
    margin: auto auto;
    border-radius: 10px;
}

.cookies-content header {
    font-size: 50px;
    text-align: center;
}

.cookies-content main {
    padding: 0;
    font-size: 20px;
    text-align: justify;
}

.cookies-content footer {
    padding: 20px 20px;
    justify-content: space-between;
    display: flex;
}

.cookies-content footer button {
    padding: 20px;
    cursor: pointer;
}

button.success {
    background-color: #3eaf0a;
}
