.picture {
  clip-path: circle(120px at center);
}

.underlined {
  text-decoration: underline;
}

.map {
  width: 100%;
  height:400px;
  padding: 10px 0;
  opacity: .8;
}

.icon {
  color: #FFF;
  opacity: .4;
}
