.grid {
    display: grid;
    width: 100vw;
    max-width: 1752px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 500px;
    grid-gap: 1rem;
    padding: 20px;
}

.card {
    padding: 5px;
    display: grid;
    grid-template-rows: 300px 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    width: 100%;
    position: relative;
    background-color: #fff;
    color: #000;
}

.card img {
    position: relative !important;
    height: 300px !important;
    border: 1px solid grey;
}
.price {
    font-weight: bold;
}
