.grid {
    display: grid;
    width: 100vw;
    max-width: 1752px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 500px;
    grid-gap: 1rem;
    padding: 0 20px 20px 20px;
    scroll-behavior: smooth;
}

.card {
    padding: 5px;
    display: grid;
    grid-template-rows: 300px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 400px;
    position: relative;
    background-color: #fff;
    color: #000;
    animation: fadeIn 2s;
}

.card > img {
    position: relative !important;
    height: 300px !important;
    border: 1px solid grey;
}
.price {
    font-weight: bold;
}

.map {
    width: 100%;
    position: absolute;
    height: 300px;
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        background: transparent;
    }
    100% {
        transform: scale(1);
    }
}

.noDisplay {
    display: none;
}

.mapIcon {
    position: fixed;
    bottom: 10px;
    right: 25px;
    cursor: pointer;
    background-color: #000;
    opacity: 0.5;
}

.information {
    border: 1px solid #fff;
    margin: 0 20px 10px;
    padding: 5px 10px;
    max-width: 400px;
    width: calc(100vw - 40px);
}

.information strong {
    text-decoration: underline;
}
.information span {
    background-color: red;
    padding: 10px;
    border-radius: 100%;
    font-size: 12px;
    font-weight: bold;
    line-height: 35px;
    margin: 0 5px 0 0;
}

.textAlignCenter {
    text-align: center;
}

.icon {
    display: flex;
    align-items: center;
}

.icon:last-child {
    text-indent: 40px;
}
